<header>
  <nav class="header-nav">
    <a class="header-title" href="/">ExamSystem</a>  
    <p><a class="" style="color: white;" href="/login">Login</a>
    <a class="" style="color: white;" href="/logout">Logout</a></p>
    <ul>
      <li><a href="/subjects">Subjects</a></li>
      <li><a href="/subjects/new">Add Subject</a></li>
      <li><a href="/questions">Questions</a></li>
      <li><a href="/questions/new">Add Question</a></li>
      <li><a href="/exams">Exams</a></li>
      <li><a href="/createExams">Add Exam</a></li>
    </ul>
  </nav>
</header>