<!DOCTYPE html>
<html>
<head>
  <title>Exam Result</title>
</head>
<body>
  <h1>Exam Result</h1>
  <p>Total Points: <%= totalPoints %></p> <!--Here is just a simple totalPoints system, where it just calculates the total points user got on the submitted exam.-->
  <a href="/exams">Back to Exams</a>
</body>
</html>
